/* log_app.css */

Screen {
    layout: vertical;
}

#log-container {
    width: 100%;
    height: 1fr;
    border: solid $accent;
    background: $panel;
    padding: 1;
    overflow-y: auto;
}

#log-display {
    width: 100%;
}

TextArea {
    width: 100%;
    height: 4;  /* 初始高度10行 */
    margin-top: 1;
    border: double $primary;
}